.language-menu{
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100px;
  z-index: 1;
  background-color: aqua;
}
.language-menu ul{
  display: none;
}

.language-menu:hover ul{
  display: block;
  position: relative;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.language-menu li{
  padding: 5px 0px;
  list-style: none;
}

.selected-language{
  display: block;
}

.language-container{
  background-color: rgba(0, 0, 0, 0.548);
  display: block;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.language-container li{
  padding: 10px 0px;
}

.language-container li:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.language-container p{
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.language-container img{
  height: 27px;
  width: 27px;
  border-radius: 15px;
}

.selected-language img {
  height: 27px;
  width: 27px;
  border-radius: 15px;
  margin-top: 20px;
}

@media (min-width: 412px) and (max-width: 640px){
  .btn-container{
    margin-right: 0;
  }
  .btn-container img{
    margin-top: 17px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
  }
  .btn-container a{
    margin: 0;
  }
}