html{
  background-color: #202020;
  color: white;
}

body{
  margin: 5px;
  padding: 0;
}

section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  row-gap: 7px;
  column-gap: 7px;
}

@media(max-width: 640px){
  html{
    overflow: visible;
  }
  
  section{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 1280px){
  html{
    overflow: visible;
  }
  
  section{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 1536px){
  html{
    overflow: visible;
  }
  
  section{
    display: flex;
    flex-direction: column;
  }
}




